*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
       width: 100%;
         min-height: 100vh;
            background-image: linear-gradient(135deg, #153677, #4e085f);
            padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}
.todo-app h2{
    color:black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;

}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;

}

.row{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: 8px 20px;
    align-items: center;
    margin-bottom: 10px;

}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
}
button{
    border: none;
    outline: none;
    background: #ff5945;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 42px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 50%;
    border-radius: 50%;
}
ul li.checked{
 color: #555;
 text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top:35px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: #ff5945;
}
ul li span:hover{
    color: #ff0000;
}
